/* Основные стили проекта. */

.page {
  color: var(--main-text-color);
  font-family: var(--main-font), san-serif;
  font-weight: var(--thin-font-weight);
  font-size: var(--main-font-size);
  font-style: normal;
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 375px;
  block-size: 6770px;
}

.title-decor {
  background-color: var(--accent-color);
}


/* Хэдер — грид с 2 колонками и 3 строками.
Rec создан как span с псевдоэлементом в виде точки.
Уголки тоже псевдоэлементы у decorated-zone */

.header {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px 10px;
}

.decorated-zone::before {
  content: ' ';
  position: absolute;
  display: block;
  justify-self: end;
  border-top: 1px solid  var(--add-text-color);
  border-right: 1px solid  var(--add-text-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: ' ';
  position: absolute;
  display: block;
  justify-self: start;
  border-bottom: 1px solid  var(--add-text-color);
  border-left: 1px solid  var(--add-text-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.header__rec {
  position: absolute;
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-weight: var(--thin-font-weight);
  line-height: 25px;
  text-align: center;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.header__rec::after {
  content: ' ';
  display: block;
  width: 9px;
  height: 9px;
  margin-right: 10px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-items: end;
  grid-column: 2 / 3;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-item {
  color: var(--add-text-color);
  font-family: "IBM Plex Mono";
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0px 13px 3px 12px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button-color);
}

.header__theme-menu-button:focus, .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--add-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--add-text-color);
  pointer-events: none;
}

.header__title {
  grid-column: 1 / 3;
  color: var(--title-color);
  font-family: var(--main-font), san-serif;
  font-weight: var(--bold-font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__description {
  grid-column: 1 / 3;
  align-self: center;
  color: var(--accent-font-color);
  font-family: var(--main-font), san-serif;
  font-weight: var(--bold-font-weight);
  line-height: var(--main-line-height);
}


/* Секция Why — грид с 3 колонками,
при этом артикл собраны в свой отдельный флекс  */

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 10px;
}

.article__link {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--accent-color);
}

.article__link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.article__link:focus-visible, .article__link:focus {
  border: 1px solid var(--main-text-color);
}

.section__why {
  margin-top: 40px;
}

.section__title {
  color: var(--add-text-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.section__articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__title {
  color: var(--accent-font-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.article__description {
  color: var(--main-text-color);
  font-weight: var(--thin-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

/* Секция What */

.section__what {
  margin-top: 50px;
}

/* Секция How */

.section__how {
  margin-top: 50px;
}

.section__add__title {
  color: var(--accent-font-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.section__how .article__title {
  font-weight: var(--thin-font-weight);
}

/* Секция Gallery */

.section__gallery {
  display: grid;
  gap: 10px;
  margin-top: 50px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery__sunset {
  grid-row: 1;
}
.gallery__ice-cream {
  grid-row: 2;
}
.gallery__tape {
  grid-row: 3;
}
.gallery__books {
  grid-row: 4;
}
.gallery__street {
  grid-row: 5;
}


/* Футер */

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  margin-top: 40px;
  padding: 10px 10px;
}

.footer__title {
  grid-column: 1 / 3;
  grid-row: 2;
  color: var(--title-color);
  font-family: var(--main-font), san-serif;
  font-weight: var(--bold-font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-align: center;
  text-shadow: 2px 2px 0px var(--accent-color);
}





/* Медиазапросы */

@media (width >= 768px) {
  .page {
    inline-size: 768px;
    block-size: 5850px;
  }
  .header {
    grid-template-columns: 1fr 1fr;
    min-height: 1024px;
    padding: 20px 20px;
  }
  .header__title {
    margin-left: -20px; /* Наставник сказал, что в этом месте не должны забраковать отрицательный отступ */
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  .header__description {
    grid-column: 2 / 3;
  }
  .section {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    padding: 0 20px;
  }
  .section__why {
    margin-top: 60px;
  }
  .section__what {
    margin-top: 80px;
  }
  .section__what .section__title {
    grid-column: 1 / 2;
  }
  .section__what .section__articles {
    grid-column: 1 / 3;
  }
  .section__how {
    margin-top: 80px;
  }
  .section__how .section__title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .section__how .section__add__title {
    grid-column: 2 / 3;
  }
  .section__how .section__articles {
    grid-column: 2 / 3;
  }
  .section__gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 78px;
  }
  .section__gallery .section__add__title {
    grid-column: 1 / 4;
  }
  .gallery__sunset {
    grid-column: 1 / 3;
  }
  .gallery__ice-cream {
    grid-row: span 2;
  }
  .gallery__tape {
    grid-row: span 2;
  }
  .gallery__street {
    grid-column: 2 / 4;
  }
  .footer {
    min-height: 1024px;
    margin-top: 60px;
    padding: 20px 20px;
  }
  .footer__title {
    grid-column: 1 / 3;
    grid-row: 2;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}





@media (width >= 1024px) {
  .page {
    inline-size: 1024px;
    block-size: 5008px;
  }
  .header {
    grid-template-columns: 1fr 1fr;
    min-height: 768px;
    padding: 20px 20px;
  }
  .header__theme-menu {
    justify-items: center;
    grid-column: 1 / 3;
    align-self: start;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 13px;
  }
  .header__title {
    margin-left: -20px; /* Наставник сказал, что в этом месте не должны забраковать отрицательный отступ */
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  .header__description {
    grid-column: 2 / 3;
  }
  .section {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 0 20px;
  }
  .section__why {
    margin-top: 60px;
  }
  .section__why .section__title {
    grid-column: 1 / 2;
  }
  .section__why .section__articles {
    grid-column: 2 / 4;
  }
  .section__what {
    column-gap: 20px;
    margin-top: 80px;
  }
  .section__what .section__title {
    grid-column: 1 / 2;
  }
  .section__what .section__articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / 4;
    row-gap: 20px;
  }
  .section__how {
    margin-top: 80px;
  }
  .section__how .section__title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .section__how .section__add__title {
    grid-column: 2 / 4;
  }
  .section__how .section__articles {
    grid-column: 2 / 4;
  }
  .section__gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 78px;
  }
  .section__gallery .section__add__title {
    grid-column: 1 / 4;
  }
  .gallery__sunset {
    grid-column: 1 / 3;
  }
  .gallery__ice-cream {
    grid-row: span 2;
  }
  .gallery__tape {
    grid-row: span 2;
  }
  .gallery__street {
    grid-column: 2 / 4;
  }
  .footer {
    min-height: 768px;
    margin-top: 60px;
    padding: 20px 20px;
  }
  .footer__title {
    grid-column: 1 / 3;
    grid-row: 2;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
